.petElementsHolder {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f4f4f4;
    text-align: center;
}

#pet-container {
    width: 100vw;
    display: flex;
    justify-content: center;
}

canvas {
    display: block;
    background-color: white;
    border: 2px solid black;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}
